<div class = "header">
  <a href="/">
    <% if (currentUser) { %>
      <img src = "../images/ollivandersSign.png"/>
    <% } else { %>
      <img src = "../images/laughingsock.png"/>
    <% } %>
  </a>
</div>
