<nav>
  <% if (currentUser) { %>
    <form action="/sessions?_method=DELETE" method="POST">
      <img src="../images/shopping-cart.png"/>
      <input type="submit" value="Logout"/>
    </form>
    <% if (currentUser.username == 'emfoxily') { %>
    <a href="/create">
      ADD NEW WAND
    </a>
    <% } %>
  <% } else { %>
  <li>
    <a href="/users/register">
      register
    </a>
    <a href="/sessions/new">
      login
    </a>
  </li>
<% } %>
</nav>
