<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      THE LAUGHING SOCK
    </title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class = "header">
      <h1>
        the laughing sock
      </h1>
      <h5>
        quality socks est. 1832
      </h5>
      <nav>
        <li>
          <a href="/users/register">
            register
          </a>
        </li>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout"/>
            </form>
          </li>
        <li>
          <a href="/sessions/new">log in</a>
        </li>
      </nav>
    </div>
    <div class = "container">
      <div class = "productContainer">
        <% for (i = 0; i < socks.length; i++) { %>
          <div class = "productBox">
            <a href = "<%= socks[i].id %>">
              <img src = "<%= socks[i].img %>"/>
            </a>
            <h5>
              "<%= socks[i].name %>"
            </h5>
            <li>
              $<%= socks[i].price %>.00
            </li>
          </div>
        <% } %>
    </div>
  </body>
</html>
