body {
  font-family: arial;
}

h1, h5 {
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 800px;
  margin: auto;
}

.productContainer {
  margin: auto;
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.productBox {
  text-align: center;
}

.productBox img {
  width: 200px;
  height: 200px;
}

.productBox li {
  list-style: none;
  font-size: 14px;
}
