body {
  font-family: georgia;
  background-image: url('../images/zwartevilt.png');
}

.header {
  margin: -10px;
}

.header img {
  width: 100%;
}

.container {
  width: 800px;
  margin: auto;
}

.productContainer {
  background-color: rgb(27, 19, 18);
  margin: auto;
  width: 675px;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-flow: row wrap-reverse;
  border: 10px solid rgb(38, 26, 23);
  z-index: -4;
}

.productBox {
  text-align: center;
  max-width: 225px;
  max-height: 225px;
  z-index: 2;
}

.productBox img {
  width: 225px;
  z-index: -1;
}

/* .productBox img:hover {
  animation: pull 2000ms ease-in forwards;
  z-index: 5;
} */

.productBox li {
  list-style: none;
  font-size: 14px;
}

/* @keyframes pull {
  50% {width: 150%};
  /* 50% {transform: scale(5.0)} */
} */
