/*============== GENERAL ==============*/
body {
  font-family: georgia;
  background-image: url('../images/zwartevilt.png');
}

a {
  font-size: 12px;
}

/*============== NAVIGATION ==============*/
nav {
  position: absolute;
  margin: auto;
  width: 100%;
  padding: 10px;
  left: 0%;
  text-align: left;
  font-family: georgia;
  font-size: 15px;
  text-transform: uppercase;
  z-index: 2;
}

nav a {
  background: black;
  color: rgb(244, 244, 244);
  width: 100px;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  background: rgb(244, 244, 244);
  color: black;
  transition: 1s;
}

/*============== BUTTONS & INPUTS ==============*/
button:hover {
  background: rgb(244, 244, 244);
  color: black;
  transition: 1s;
}

input {
  background: black;
  color: rgb(244, 244, 244);
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-family: georgia;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

input:hover {
  background: rgb(244, 244, 244);
  color: black;
  transition: 1s;
}

/*============== HEADER ==============*/
.header {
  margin-top: 20px;
  margin: -10px;
}

.header img {
  width: 100%;
}

/*============== WAND INDEX PAGE ==============*/
.container {
  width: 800px;
  margin: auto;
}

.productContainer {
  background-image: url('../images/wandDisplay.png');
  margin: auto;
  width: 675px;
  height: 100%;
  padding-top: 200px;
  display: flex;
  flex-flow: row wrap-reverse;
  border: 20px solid rgb(14, 11, 11);
}

.productBox {
  text-align: center;
  max-width: 400px;
  max-height: 225px;
  color: rgb(244, 244, 244);
}

.productBox img {
  width: 225px;
}

.productBox li {
  list-style: none;
  font-size: 14px;
}

/*============== WAND SHOW PAGE ==============*/
.wandContainer {
  background-image: url('../images/wandDisplay.png');
  width: 400px;
  margin: auto;
  margin-top: -50px;
  padding: 50px;
  border: 20px solid rgb(14, 11, 11);
  list-style: none;
}

.wandContainer form {
  text-align: center;
}

.wandContainer button {
  width: 380px;
  padding: 20px;
}

.wandContainer input {
  width: 380px;
  padding: 20px;
}

.wandContainer input:hover, button:hover {
  background: rgb(14, 11, 11);
  color: white;
}

.wandBox {
  font-size: 12.5px;
  text-align: center;
  max-width: 400px;
  color: rgb(244, 244, 244);
}

.wandBox img {
  width: 225px;
  animation: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.wandBox li {
  list-style: none;
  font-size: 14px;
}

.wandBox p {
  background: rgb(14, 11, 11);
  padding: 15px;
}

.wandBox button, input {
  background: rgb(14, 11, 11);
  color: rgb(244, 244, 244);
  padding: 8px;
  width: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-family: georgia;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

/*============== FLOAT ANIMATION ==============*/
@keyframes float {
  50% {transform: translateY(20px)};
  50% {transform: translateY(-20px)};
}
