<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTER</title>
  </head>
  <body>
    <form action="/users" method="POST">
        <input type="text" id="username" name="username" placeholder="USERNAME"/> <br/>
        <input type="password" id="password" name="password" placeholder="PASSWORD"/> <br/>
        <input type="submit" name ="action" value="REGISTER"/>
      </form>
  </body>
</html>
