<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/header.ejs %>
    <form action="/users" method="POST">
      <div class="notMuggle">
        <input type="checkbox" id="isWizard" name="isWizard" class="checkbox"/>
      </div>
      <br/>
      <input type="text" id="username" name="username" placeholder="USERNAME"/> <br/>
      <input type="password" id="password" name="password" placeholder="PASSWORD"/> <br/>
      <br/>
      <br/>
      <input type="submit" name ="action" value="REGISTER"/>
    </form>
  </body>
</html>
