<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OLLIVANDER'S WAND SHOP</title>
    <link rel="stylesheet" href="../css/ollivanders.css">
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/header.ejs %>
    <div class = "wandContainer">
      <form action="/" method="POST">
        <li>
          <input type="text" name="name" placeholder="NAME"/>
        </li>
        <li>
          <input type="text" name="img" placeholder="BOX IMAGE"/>
        </li>
        <li>
          <input type="text" name="wand" placeholder="WAND IMAGE"/>
        </li>
        <li>
          <input type="textarea" name="description" placeholder="DESCRIPTION"/>
        </li>
        <li>
          <input type="number" name="price" placeholder="PRICE"/>
        </li>
        <li>
          <input type="number" name="qty" placeholder="QUANTITY"/>
        </li>
        <input type="submit" value="ADD NEW WAND">
      </form>
    </div>
  </body>
</html>
