<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OLLIVANDER'S WAND SHOP</title>
    <link rel="stylesheet" href="../css/ollivanders.css">
  </head>
  <body>
    <nav>
      <% if (currentUser) { %>
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout"/>
        </form>
        <% if (currentUser.username == 'emfoxily') { %>
        <a href="/create">
          ADD NEW WAND
        </a>
        <% } %>
      <% } else { %>
      <li>
        <a href="/users/register">
          register
        </a>
        <a href="/sessions/new">
          login
        </a>
        <img src="../images/shopping-cart.png"/>
      </li>
    <% } %>
    </nav>

    <div class = "header">
      <a href="/">
        <img src = "../images/ollivandersHeader.png"/>
      </a>
    </div>
    <div class = "wandContainer">
      <form action="/" method="POST">
        <li>
          <input type="text" name="name" placeholder="NAME"/>
        </li>
        <li>
          <input type="text" name="img" placeholder="BOX IMAGE"/>
        </li>
        <li>
          <input type="text" name="wand" placeholder="WAND IMAGE"/>
        </li>
        <li>
          <input type="textarea" name="description" placeholder="DESCRIPTION"/>
        </li>
        <li>
          <input type="number" name="price" placeholder="PRICE"/>
        </li>
        <li>
          <input type="number" name="qty" placeholder="QUANTITY"/>
        </li>
        <input type="submit" value="ADD NEW WAND">
      </form>
    </div>
  </body>
</html>
