<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE LAUGHING SOCK - CREATE NEW SOCK</title>
  </head>
  <body>
    <form action="/" method="POST">
      <li>
        <input type="text" name="name" placeholder="NAME"/>
      </li>
      <li>
        <input type="text" name="img" placeholder="IMAGE URL"/>
      </li>
      <li>
        <input type="textarea" name="description" placeholder="DESCRIPTION"/>
      </li>
      <li>
        <input type="number" name="price" placeholder="PRICE"/>
      </li>
      <li>
        <input type="number" name="qty" placeholder="QUANTITY"/>
      </li>
      <input type="submit" value="SUBMIT CHANGES">
    </form>
  </body>
</html>
